<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>CD Organizer</title>
    <link rel='stylesheet' href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href=" map to lightbox css">  <!-- ADD THE 3 FOLDERS FROM LIGHTBOX TO VIEWS FOLDER -->
    <link rel="stylesheet" href="css/styles.css">
  </head>

  <body>

    <div class='container'>
      <div class='row'>
        <div class='col-md-4'>
          <h2>MY CD Organizer</h2>

          <form action='/new-cd' method='post'>
            <div class='form-group'>
              <label for='title'>Enter CD Title</label>
              <input type='text' name='title' id='title' class='form-control' placeholder='e.g. Back in Black'>
            </div>
            <div class='form-group'>
              <label for='artist'>Enter Artist</label>
              <input type='text' name='artist' id='artist' class='form-control' placeholder='e.g. ACDC'>
            </div>
            <button type='submit' class='btn btn-sm btn-primary'>Submit CD Title</button>
          </form>

          <br>
          <form action='/' method='post'>
            <button type='submit' class='btn btn-sm'>Delete All Tasks</button>
          </form>

        </div>  <!-- .col-md-3 -->
      </div>  <!-- .row -->

      <div class='row'>
          {% for cd in cds %}
              <div class='col-md-6 cd cddiv'>
                  <h4>{{ cd.getTitle }}</h4>
              </div>
          {% endfor %}
      </div>  <!-- .row -->
    </div>  <!-- .container -->

    <!-- <script src=" go get jQ Google CDN "></script>
    <script src=" map to lightbox js"></script>
    <script src=" go get bootstrap js"></script> -->
  </body>
</html>
